
// Defining parameters
params {

    // Basic options
    data                                = ""
    output                              = ""
    version                             = false
    help                                = false
    type                                = ""
    parallel                            = 10
    ref                                 = ""

    // adaptor.nf args
    min_length                          = 25
    min_quality                         = 25
  
    // alignment.nf args
    missing_prob                        = 0.01
    gap_fraction                        = 2
    seed                                = 16500


    // dedup.nf args
}

// Defining specific configs

conda.enabled = true

process {
    withName: 'ADAPTOR_REMOVAL' {
        conda = "${projectDir}/envs/adaptor.yaml"
        cpus = 5
    }
}

process {
    withName: 'ALIGNMENT' {
        conda = "${projectDir}/envs/alignment.yaml"
        cpus = 10
    }
}

process {
    withName: 'DEDUPLICATION' {
        conda = "${projectDir}/envs/dedup.yaml"
        cpus = 5
    }
}

process {
    withName: 'PUBLISH' {
        conda = "${projectDir}/envs/publish.yaml"
        cpus = 1
    }
}


