
// Defining parameters
params {

    // Basic options
    data                                = ""
    output                              = ""
    version                             = false
    help                                = false
    type                                = ""
    parallel                            = 10
    ref                                 = ""

    // adaptor.nf args
    MIN_LENGTH                          = 25
    MIN_QUALITY                         = 25
  
    // alignment.nf args
    MISSING_PROB                        = 0.01
    GAP_FRACTION                        = 2
    SEED                                = 16500


    // dedup.nf args
}

// Defining specific configs

conda.enabled = true

process {
    withName: 'ADAPTOR_REMOVAL' {
        conda = "${projectDir}/envs/adaptor.yaml"
        cpus = 5
    }
}

process {
    withName: 'ALIGNMENT' {
        conda = "${projectDir}/envs/alignment.yaml"
        cpus = 10
    }
}

process {
    withName: 'DEDUPLICATION' {
        conda = "${projectDir}/envs/dedup.yaml"
        cpus = 5
    }
}
