
// Defining parameters
params {

    // Basic options
    data                                = ""
    output                              = ""
    version                             = false
    help                                = false
    type                                = ""

    // adaptor.nf args
    MIN_LENGTH                          = 25
    MIN_QUALITY                         = 25
  
    // alignment.nf args


    // dedup.nf args
}

// Defining specific configs

conda.enabled = true

process {
    withName: 'ADAPTOR_REMOVAL ' {
        conda = "${projectDir}/envs/adaptor.yaml"
        cpus = 5
    }
}
